{% extends "admin/base_site.html" %} {% block title %}Django with Bootstrap | Admin site{% endblock %}
{% block branding %}{% endblock %} {% block breadcrumbs %}{% endblock %} {% block bodyclass %}bg-light{% endblock %}
{% block bodyheader %} {% include "admin/admin_navigation.html" %}{% endblock %} {% block pagecss %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" /> {% endblock %} {% block content %}
<div class="container">
  <div class="d-flex flex-wrap card-container">
    <img src="/static/images/SAC_logo.png" alt="sac-logo" class="logo" />
    <div class="dash-square">
      <h3>{{ report_count }}</h3>
      <p>Reports</p>
    </div>
    {% comment %} <div class="dash-square">
      <p>Avg Safe Bar Rating</p>
      <h3>4.7</h3>
      <small>out of 5 stars</small>
    </div> {% endcomment %}
    <div class="dash-square">
      <h3>{{safebar_count}}</h3>
      <p>Safe Bars</p>
    </div>
    {% comment %} <div class="dash-square">
      <h3>386</h3>
      <p>Users</p>
    </div> {% endcomment %}
  </div>

  <div class="list-container">
    <div class="left">
      <div class="container-primary">
        <h4>Reports</h4>
        {% for bar_report in bar_reports_data  %}



        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <small class="small-header">SUBMITTED</small>
                <div>{{ bar_report.date_submitted }}
                </div>
              </div>
              <div>
                <small class="small-header">BAR</small>
                <div>{{bar_report.bar.name}}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="d-grid gap-2 mt-3">
          <a href={% url "myadmin:reports-list" %} class="btn btn-primary btn-lg analytics-btn" type="button">View Reports</a>
        </div>
      </div>
      <div class="container-primary">
        <h4>Recertifications Due within 30 days</h4>
        {% for bar in recert_bars %}
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <div>{{ bar.name }}</div>
                <small class="small-header">Contact: {{ bar.contact_name }}</small>
              </div>
              <div>
                <small class="small-header">due on</small>
                <div>{{ bar.expiration }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="right">
      <div class="container-secondary">
        <h4 class="dark">Overdue Certifications</h4>
        {% for bar in expired_bars  %}

        <div class="card overdue-card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <div>{{ bar.name }}</div>
                <small class="small-header">Contact: {{ bar.contact_name }}</small>
              </div>
              <div>
                <small class="small-header">expired on</small>
                <div>{{ bar.expiration }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="d-grid gap-2">
        <a href="https://analytics.google.com/analytics/web/#/p312699576/realtime/overview?params=_u..nav%3Dmaui&collectionId=life-cycle"
          target="_blank" class="btn btn-primary btn-lg analytics-btn" type="button">Google Analytics</a>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
