<ul class="nav nav-tabs nav-fill">
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:index" %}>Dashboard</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:resources-list" %}>Resources</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:faqs-list" %}>FAQ</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:bars-list" %}>Bars</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:contacts-list" %}>Contacts</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href={% url "myadmin:reports-list" %}>Reports</a>
  </span>
</ul>
