{% extends "admin/base_site.html" %}

{% block bodyheader %} {% include "admin/admin_navigation.html" %}{% endblock %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
<h1>{{ header_text }}</h1>
<div class="d-flex p-2 bd-highlight">
    <form class="row" action="{% url update_url %}" method="post">
        {% csrf_token %}
        <div class="d-flex flex-column bd-highlight mb-3">
            {{ form }}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>
</div>
{% endblock %}
