{% extends "admin/base_site.html" %}

{% block bodyheader %} {% include "admin/admin_navigation.html" %}{% endblock %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
{% if success %}
<div class="alert alert-success" role="alert">
    {{ name }} Updated!
</div>
{% endif %}
<h1>{{ header_text }}</h1>
<div class="container">
    <form action="{% url update_url %}" method="post">
        {% csrf_token %}
        <div class="row g-3">
            {{ form }}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>
</div>
{% endblock %}

{% block customjs %}
{{ success|json_script:"success" }}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
    const success = JSON.parse(document.getElementById('success').textContent);

    $(document).ready(function () {
        if (success) {

            setTimeout(() => $(".alert").alert('close'), 3000)
        }
    });
</script>
{% endblock customjs %}
