{% extends "admin/base_site.html" %}

{% block bodyheader %} {% include "admin/admin_navigation.html" %}{% endblock %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<style>
    .alert-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
</style>
{% endblock %}


{% block content %}
<div class="alert-container">
    {% if success %}
    <div class="alert alert-success" role="alert">
        {{ name }} Updated!
    </div>
    {% endif %}
</div>
<h1>{{ header_text }}</h1>

<form action="{% url update_url uuid %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update">
</form>
<form action="{% url delete_url uuid %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}

{% block customjs %}
{{ success|json_script:"success" }}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
    const success = JSON.parse(document.getElementById('success').textContent);

    $(document).ready(function () {
        if (success) {

            setTimeout(() => $(".alert").alert('close'), 3000)
        }
    });
</script>
{% endblock customjs %}
