@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Ubuntu:wght@300&display=swap');

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(56,40,93,1) 35%, rgba(0,0,0,1) 100%); */
    background-image: linear-gradient(#001022, #2B1F47);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h2 {
  color: #D899DD;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* h4 {
  color: #D899DD;
  font-family: 'Oswald', sans-serif;
  text-align: center; */
  /* padding-top: 2%;
  padding-bottom: 2%; */
/* } */
.shieldHeader{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-items: center;
}

.shieldIcon{
  color: #FFE367;
  size: 25px;
}
.layout-cont {
  margin-bottom: 6rem;
}

.card-width {
  width: 26rem;
  height: 18rem;
}

.card-title{
  font-family: 'Oswald', sans-serif;
  font: bold;
  color: #F1EDF1 !important;
}

.card-border-radius {
  border-radius: 25px;
  border: none;
}

.card {
  background-image: radial-gradient(#2B1F47, #001022);
  /* background-color: #2B1F47 !important; */
  color: #F1EDF1 !important;
  margin: 5px;
  padding-left: 5%;
  padding-right: 0 !important;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100% !important;
  }

}

.img-fit {
  object-fit: cover;
}

.gradient-bg {
  -webkit-mask-image: linear-gradient(to right, transparent 10%, black 75%);
  mask-image: linear-gradient(to right, transparent 25%, black 75%);
}

.outline-button {
  border: 2px solid #F1EDF1;
  border-radius: 8px;
  color: #F1EDF1;
  background: none;
  font-family: 'Oswald', sans-serif;
}

.outline-button:hover {
  background: #38285D;
  border: 2px solid #F1EDF1;
  font-family: 'Oswald', sans-serif;
}

.button-style {
  background: #38285D;
  color: #C1A6FF;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 8px;
}

.button-style:hover {
  background: #C1A6FF;
  color: #2B1F47;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 8px;
  opacity: 80%;
}

.social-banner {
  background-color: #3F285F;
  border-radius: 25px;
  border: none;
  width: 67%;
  height: 5rem;
  margin: auto;
  opacity: 80%;
}

/* OFF CANVAS NAV  */
.btn-link {
  text-decoration: none !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  color: black !important;
}


.icon-circle-style {
  width: 60px;
  height: 60px;
  background-color: #2B1F47;
}

/******  FOOTER NAVIGATION  *******/

footer {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #231A42;
  color: #8570B5;
}

.allFooterButtons {
  display: flex;
  max-width: 100%;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 5px;
}
.helpIcon {
  color: #D899DD;
}
p.footerIcon {
  display: flex;
  justify-content: center;
  margin: 0;
  /* opacity: 80%; */
}

.footerBarOption {
  width: 100%
}

.activeIcon{
    color: #D899DD;
}
.activeFooter > .footerBarOption > .footerIcon > .footerSvg {
  filter: invert(30%) sepia(83%) saturate(4273%) hue-rotate(333deg)
    brightness(99%) contrast(87%);
  font-weight: bold;
  color: #D899DD;
}

.activeFooter > .footerBarOption > .optionTitle,
.activeFooter > .footerBarOption > .help-title,
.activeFooter > .footerBarOption > .optionIcon
 {
  color: #D899DD;
  font-weight: bold;
}

.optionTitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
  color: #8570B5;
}

.auth-btn {
  background-color: #231A42 !important;
  border: none !important;
  padding: 0;
  margin: 0;
}

.help-nav {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -33px;
  left: 0;
  bottom: 93px;
  right: -19px;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;

  background: #231A42;
}

.help-title {
  position: absolute;
  top: 75px;
  left: 0;
  bottom: 47px;
  right: 0px;
}
.help-icon {
  margin-top: 10px;
  color: #D899DD
}
.help-icon, .optionIcon {
  padding: 10px;
  color: #8570B5
}
.list-nav {
  margin-left: 35px;
}
/******  END FOOTER NAVIGATION  *******/

.accordion-button,
.accordion-header {
  background-color: #38285D !important;
  color: #C1A6FF !important;
}
.accordion-body {
  color: black !important;
}
.login-btn {
  background-color: #38285D !important;
  border: none !important;
}
.sign-in {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -58px 0 0 -116px;
}
