@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Ubuntu:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.layout-cont {
  margin-bottom: 6rem;
}

footer {
  border-top: 1px solid lightgray;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* max-width: 450px; */
  background-color: white;
  color: gray;
  text-align: center;
}

.allFooterButtons {
  display: flex;
  max-width: 100%;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 5px;
}

p.footerIcon {
  display: flex;
  justify-content: center;
  margin: 0;
}

.activeFooter > .footerBarOption > .footerIcon > .footerSvg {
  filter: invert(30%) sepia(83%) saturate(4273%) hue-rotate(333deg)
    brightness(99%) contrast(87%);
  font-weight: bold;
}

.activeFooter > .footerBarOption > .optionTitle {
  color: #ec5c44;
  font-weight: bold;
}

.footerSvg {
  height: 25px;
  margin: 13px;
}

.optionTitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}

.card-width {
  width: 24rem;
  height: auto;
}
.card-border-radius {
  border-radius: 25px;
  border: none;
}

.card-background {
  background: #231A42;
}

.img-fit {
  object-fit: cover;
}

.gradient-bg {
  -webkit-mask-image: linear-gradient(to right, transparent 10%, black 75%);
  mask-image: linear-gradient(to right, transparent 25%, black 75%);
}

.outline-button {
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background: none;
  font-family: 'Oswald', sans-serif;
}

.outline-button:hover {
  background: #3F285F;
  border: 2px solid white;
  font-family: 'Oswald', sans-serif;
}

.button-style {
  background: #38285D;
  color: #C1A6FF;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 8px;
}

.button-style:hover {
  background: #C1A6FF;
  color: #3F285F;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 8px;
}

/* OFF CANVAS NAV  */
.btn-link {
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
  color: black;
}
