html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  border-top: 1px solid lightgray;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* max-width: 450px; */
  background-color: white;
  color: gray;
  text-align: center;
}

.allFooterButtons {
  display: flex;
  max-width: 100%;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 5px;
}

p.footerIcon {
  display: flex;
  justify-content: center;
  margin: 0;
}

.activeFooter > .footerBarOption > .footerIcon > .footerSvg {
  filter: invert(30%) sepia(83%) saturate(4273%) hue-rotate(333deg)
    brightness(99%) contrast(87%);
  font-weight: bold;
}

.activeFooter > .footerBarOption > .optionTitle {
  color: #ec5c44;
  font-weight: bold;
}

.footerSvg {
  height: 25px;
  margin: 13px;
}

.optionTitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}

/* OFF CANVAS NAV  */
.btn-link {
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
  color: black;
}
